<div class="row">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="color: red">
            {% for message in form.firstname.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.lastname.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.city.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
    </div>

    <form method=POST action="{{ url_for('dbset')}}{{table}}/{{type}}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-2">
                {{ form.firstname.label }}
                {{ form.firstname (placeholder="What is your first name?") }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form.lastname.label }}
                {{ form.lastname (placeholder="What is your last name?" ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form.address.label }}
                {{ form.address (placeholder="What's your current address?") }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form.city.label }}
                {{ form.city (placeholder="What city do you live in currectly?") }}
            </div>
        </div>
        {{ form.submit }}
        <input type=submit id="submit" value="Post">
    </form>
</div>
